@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
}

html{
    scroll-behavior: smooth;
    color: black;
}

body {
    font-family: poppins,sans-serif;
    overflow-x: hidden;
}

.aboutUs {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 70vh;
    background-color: white;
    color: rgb(71, 71, 251);
}

.aboutUs .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutUs .text h1 {
    font-size: 100px;
    font-weight: 600;
}

.aboutUs .text p {
    display: -webkit-box;
    max-width: 30vw;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.aboutUs .text .actions button {
    background-color: rgb(71, 71, 251);
    border: none;
    color: white;
    padding: 10px 25px;
    font-family: raleway;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

.vector {
    height: 100%;
}

.vector img {
    height: 100%;
}

.last-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    width: 100vw;
    padding: 60px 100px 20px 100px;
    background-color: rgb(250, 250, 250);
    /* height: 5000px; */
}

.last-section h3 {
    font-size: 40px;
    font-family: raleway;
    position: absolute;
    top: 30px;
    transform: translate(0,-25%);
    left: 120px;
    font-weight: 600;
    color: blue;
}