/* footer starts here  */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    font-family: "raleway";
}

footer .about {
    width: 40%;
    max-width: 400px;
    font-weight: 100;
}

footer .about p {
    font-weight: 500;
    margin-bottom: 15px;
}

footer .socials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

footer .socials a {
    color: red;
}

footer .contact {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: raleway;
}

footer .contact .title {
    font-family: poppins;
    font-weight: 600;
    font-size: 20px;
}

footer .contact p span {
    font-weight: 600;
}
