nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    align-items: center;
    margin: 5px;
    /* box-shadow: 00px 00px 10px; */
}

.logo {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.links a {
    text-decoration: none;
    color: rgb(82, 82, 253);
}

.links li:hover > hr{
    width: 100%;
}

.links li a{
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.links li a ion-icon {
    margin-right: 5px;
    font-size: 17px;
}

.activeLine {
    background-image: linear-gradient(to right, aqua,blue);
    height: calc(2px/1.2);
    width: 20%;
    border: none;
    transition: .3s;
    border-radius: 100%;
}